<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="title">Введи название книги</label>
  <input type="text" th:field="*{title}" id="title"/>
  <br/>
  <label for="author">Введи автора произведения</label>
  <input type="text" th:field="*{author}" id="author"/>
  <br/>
  <label for="dateOfPublication">Введите дату издания</label>
  <input type="date" th:field="*{dateOfPublication}" id="dateOfPublication"/>
  <br/>
  <label for="genre">Выберите жанр книги</label>
  <select id="genre" name="genreName">
    <option value="DETECTIVE">Детектив</option>
    <option value="SCIENCE FICTION">Научная фантастика</option>
    <option value="FANTASY">Фэнтези</option>
    <option value="ADVENTURES">Приключения</option>
    <option value="NOVEL">Роман</option>
    <option value="SCIENTIFIC">Научная литература</option>
    <option value="FOLKLORE">Фольклор</option>
    <option value="HUMOR">Комедия</option>
    <option value="GUIDE">Гайд</option>
    <option value="POETRY">Поэзия</option>
    <option value="CHILDREN">Детская литература</option>
    <option value="NONFICTION">Художественная литература</option>
    <option value="BUSINESS">Бизнес литература</option>
    <option value="RELIGIOUS">Религиозная литература</option>
    <option value="EDUCATIONAL">Учебная литература</option>
  </select>
  <br/>
  <input type="submit" value="Добавить!">
</form>
</body>
</html>